
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("BACKGROOUND.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    display: flex;
    letter-spacing: normal;
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: 0.5s ease;
}

.logo {
    height: 50px;
}
nav{
    margin-left: 50px;
   margin-top: 10px;
   justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
   
   
}

nav ul li {
    list-style: none;
   margin-left: 50px;
   margin-top: 10px;

   
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: yellow;
}

section {
    padding: 100px;
    text-align: center;
    color: white;
    transition: transform 0.5s ease;
}

section:hover {
    transform: scale(1.02);
}
